div#support {
  background-color: #efe;
  top: 2vh;
  left: 0;
  bottom: 0;
  width: 50vw;
  min-height: 98vh;
  height: 110%;
  position: absolute;
}

div#unsupport {
  background-color: #fee;
  top: 2vh;
  right: 0;
  bottom: 0;
  width: 50vw;
  min-height: 98vh;
  height: 110%;
  position: absolute;
}

div#ua {
  top: 0;
  left: 0;
  right: 0;
  height: 2vh;
  line-height: 100%;
  width: 100vw;
  position: absolute;
}

noscript {
  background-color: #fee;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

p {
  margin: 4px;
}
