* {
  line-height: 100%;
  font-size: 14px;
  font-family: monospace;
}

div#support {
  background-color: #efe;
  top: 36px;
  left: 0;
  bottom: 0;
  width: 50%;
  position: absolute;
  overflow: scroll;
}

div#unsupport {
  background-color: #fee;
  top: 36px;
  right: 0;
  bottom: 0;
  width: 50%;
  position: absolute;
  overflow: scroll;
}

div#ua {
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  position: absolute;
  overflow: scroll;
  margin: 4px;
}

noscript {
  background-color: #fee;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 4px;
}

p {
  margin: 4px;
}
